<html ng-app="core">
    <div flex layout="column" data-ng-controller="HomeController as ul">

        <!-- Container #4 Right -->
        <div class="md-tabs-centered-wrapper">
        <md-content flex id="content">
            <!-- User details sample -->
            <md-tabs flex md-dynamic-height md-stretch-tabs="always" md-selected="selectedIndex">
                <md-tab>
                    <md-tab-label><text-color-set class="tab">Directions</text-color-set></md-tab-label>
                    <md-tab-body>
                            <!--
                                This is the div element where the map will be displayed. 	The div acts as a container for the map
                                Please note we gave an id for the div elemnent, which is map
                                This div element will be inside the ng-controller because all the logic associated for displaying
                                the map is the javascript file.
                            -->
                        <br>
                        <div data-ng-controller="GMapController">
                            To: <input type="text" placeholder="Starting location"  ng-model="location"/><tabbing></tabbing>
                            From: <input type="text" placeholder="Destination" ng-model="endingpoint" />
                            <md-button type="submit" ng-click = "routeToLocation(location,endingpoint)">Find directions</md-button><br><br>
                            <div class="panel" flex id="homeMap"></div>
                            <map center="1.352083, 103.819836" zoom="10"></map>
                            <!--&lt;!&ndash;-->
                                <!--This is the div element where the map will be displayed. 	The div acts as a container for the map-->
                                <!--Please note we gave an id for the div elemnent, which is map-->
                                <!--This div element will be inside the ng-controller because all the logic associated for displaying-->
                                <!--the map is the javascript file.-->
                            <!--&ndash;&gt;-->


                            <!--&lt;!&ndash;-->
                              <!--Here we create a text box, where user can input a location-->
                              <!--The input is stored in ng-model-->
                               <!--Once the user clicks the submit button, a function showLocation is executed-->
                              <!--The function has a parameter, which is the location inputted by the user-->
                              <!--The function is defined in the javascript file, and control is transferred to JS file-->

                            <!--&lt;!&ndash; <input type="submit" value="Search" ng-click = "showLocation(location);showLocation(endingpoint)"/>  &ndash;&gt;-->
                            <ng-click="openInfoWindow($event, marker)">
                            <md-button flex class='md-raised md-hover' ng-hide="toggleCollapsed.buttonCollapsed" ng-click="toggleCollapsed.collapsed=!toggleCollapsed.collapsed">

                                <b>Route 1: </b><i id="routeDistance"></i>,<i id="routeDuration"></i><br>
                                <i>Click to see/hide route details</i>
                            </md-button>
                            <div class="panel" ng-hide="toggleCollapsed.collapsed"  flex id="routeInstruction">
                                <h1><b><u>Route 1</u></b></h1>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label><text-color-set class="tab">Submit Report</text-color-set></md-tab-label>
                    <md-tab-body>
                        <p>Submit report</p>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label><text-color-set class="tab">Traffic reports</text-color-set></md-tab-label>
                    <md-tab-body>
                        <p>View all reports</p>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
        </div>
    </div>
</html>
