<html ng-app="core">
    <div flex layout="column" data-ng-controller="HomeController as ul" id="mainPage">
        <header flex class="navbar navbar-fixed-top">
            <div flex class="md-toolbar"><b>TRANSPORT APP</b>
                <ul layout="column" class="navbar-right" data-ng-hide="authentication.user">
                    <li ui-route="/signup" ng-class="{active: $uiRoute}">
                        <a href="/#!/signup" style="color: #FFFFFF">Sign Up</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li ui-route="/signin" ng-class="{active: $uiRoute}">
                        <a href="/#!/signin" style="color: #FFFFFF">Sign In</a>
                    </li>
                </ul>
            </div>
            <md-tabs class="md-primary" flex md-stretch-tabs="always" md-selected="selectedIndex">
                <md-tab label="Directions"></md-tab>
                <md-tab label="Submit Traffic Report"></md-tab>
                <md-tab label="View Traffic Reports"></md-tab>
            </md-tabs>
        </header>
        <!-- Container #4 Right -->
        <md-content flex id="content">
            <md-tabs class="noTabPanel" md-dynamic-height md-selected="selectedIndex">
                <md-tab label="Directions">
                    <md-tab-body>
                        <div data-ng-controller="GMapController">
                        <md-button class="md-fab md-fab-top-right" ng-hide="toggleCollapsed.buttonCollapsed" ng-click="toggleCollapsed.buttonCollapsed=1">
                            <md-icon md-svg-src="modules/core/img/svg/mode_edit.svg"></md-icon>
                        </md-button>
                        <br>
<!--User Input-->
                            <h2 class="md-display-1">Find Directions</h2>
                            <section class="inputMenu" ng-show="toggleCollapsed.buttonCollapsed">
                                <b class="md-subhead">Preferred transport:</b>
                                <md-radio-group layout="row" ng-model="data.vehicles">
                                    <md-radio-button value="any" class="md-primary">Any</md-radio-button>
                                    <md-radio-button value="bus" class="md-primary"> Bus only. </md-radio-button>
                                    <md-radio-button value="train" class="md-primary">Train only.</md-radio-button>
                                </md-radio-group>
                            </section>
                            <section class="inputMenu" ng-show="toggleCollapsed.buttonCollapsed">
                                <label style="padding-right:2px">From: </label><input type="text" placeholder="Starting location"  ng-model="location"/>
                                <tabbing class="hide-sm"></tabbing>
                                <label class="hide-sm">To: </label> <input class="hide-sm" label="To" type="text" placeholder="Destination" ng-model="endingpoint" />
                                <div class="hide-gt-sm"> <label style="padding-right:19px">To:</label><input label="To" type="text" placeholder="Destination" ng-model="endingpoint" /></div>
                                <md-button type="submit" ng-click = "routeToLocation(location,endingpoint)">
                                    <md-icon md-svg-src="modules/core/img/svg/search.svg"></md-icon>
                                </md-button>
                            </section>
<!--Map Display-->
                           <div flex id="homeMap"></div>
                            <map center="1.352083, 103.819836" zoom="10"></map>
                            <!--&lt;!&ndash; <input type="submit" value="Search" ng-click = "showLocation(location);showLocation(endingpoint)"/>  &ndash;&gt;-->
                            <ng-click="openInfoWindow($event, marker)">
                            <section class="routes" layout="column" layout-phone="column" flex>
                            <md-button class='md-raised md-hover routes' ng-hide="toggleCollapsed.buttonCollapsed" ng-click="toggleCollapsed.collapsed=!toggleCollapsed.collapsed">
                                <b>Route 1: </b><i id="routeDistance"></i>, <i id="routeDuration"></i><br>
                                <i>Click to see/hide route details</i>
                            </md-button>
                            <div layout-align="center" class="panel" ng-hide="toggleCollapsed.collapsed" id="routeInstruction">
                                <h1><b><u>Route 1</u></b></h1>
                            </div>
                            </section>
                        </div>
                    </md-tab-body>
                </md-tab>
<!--Make reports-->
                <md-tab>
                    <md-tab-label><text-color-set class="tab">Submit Report</text-color-set></md-tab-label>
                    <md-tab-body>
                        <section data-ng-controller="ReportsController">
                            <div class="page-header">
                                <h1>New Congestion Report</h1>
                            </div>
                            <div class="col-md-12">
                                <form class="form-horizontal" data-ng-submit="create()" novalidate>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label" for="roadname">Road Name:</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="roadname" id="roadname" style="width: 500px" class="form-control" placeholder="Road Name" required>
                                            </div>
                                            <br>
                                            <label class="control-label" for="category">Category:</label>

                                            <md-radio-group data-ng-model="data.category">
                                                <md-radio-button value="mrt" class="md-primary">MRT Disruption</md-radio-button>
                                                <md-radio-button value="accident" class="md-primary">Accident</md-radio-button>
                                                <md-radio-button value="roadworks" class="md-primary">Road Works</md-radio-button>
                                                <md-radio-button value="weather" class="md-primary">Weather</md-radio-button>
                                            </md-radio-group>
                                            <br>
                                            <label class="control-label" for="congestion">Level Of Congestion:</label>
                                            <md-radio-group data-ng-model="data.congestion">
                                                <md-radio-button value="high" class="md-primary">High</md-radio-button>
                                                <md-radio-button value="mid" class="md-primary">Medium</md-radio-button>
                                                <md-radio-button value="low" class="md-primary">Low</md-radio-button>
                                            </md-radio-group>
                                            <br>
                                            <label class="control-label" for="time">Approximate Time To Clear Congestion:</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="time" id="time" style="width: 500px" class="form-control" placeholder="Time To Clear Congestion" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="button-group">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                        <br>
                                        <div data-ng-show="error" class="text-danger">
                                            <strong data-ng-bind="error"></strong>
                                        </div>
                                        <div data-ng-show="message" class="text-success">
                                            <strong data-ng-bind="message"></strong>
                                        </div>
                                        <br>
                                    </fieldset>
                                </form>
                            </div>
                        </section>
                    </md-tab-body>
                </md-tab>
                <!--Display reports-->
                <md-tab>
                    <md-tab-label><text-color-set class="tab">Traffic reports</text-color-set></md-tab-label>
                    <md-tab-body>
                        <section data-ng-controller="ReportsController" data-ng-init="find()">
                            <div class="page-header">
                                <h1>Traffic Congestions</h1>
                            </div>
                            <div class="list-group">
                                <a data-ng-repeat="report in reports" class="list-group-item">
                                    Road Name: <span class="list-group-item-heading" data-ng-bind="report.roadname"></span>
                                    <br>
                                    Category: <span class="list-group-item-heading" data-ng-bind="report.category"></span>
                                    <br>
                                    Congestion: <span class="list-group-item-heading" data-ng-bind="report.congestion"></span>
                                    <br>
                                    Time: <span class="list-group-item-heading" data-ng-bind="report.time"></span>
                                    <br>
                                    Posted By: <span class="list-group-item-heading" data-ng-bind="report.user.displayName"></span>
                                </a>
                            </div>
                            <div class="alert alert-warning text-center" data-ng-hide="!reports.$resolved || reports.length">
                                No Reports yet, why don't you <a href="/#!/reports/create">create one</a>?
                            </div>
                        </section>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</html>
