<!--<div data-ng-controller="HeaderController" flex>-->
    <!--<md-toolbar layout="column" data-ng-controller="HomeController as ul">-->
        <!--&lt;!&ndash;<md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">&ndash;&gt;-->
            <!--&lt;!&ndash;<md-icon md-svg-icon="menu"></md-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
        <!--<h1><text-color-set class="heading"><b>TRANSPORT APP</b></text-color-set></h1>-->
    <!--</md-toolbar>-->
<!--</div>-->
<div class="md-toolbar"><b>TRANSPORT APP</b></div>
<md-tabs class="md-primary" flex md-stretch-tabs="always" md-selected="selectedIndex">
    <md-tab label="Directions"></md-tab>
    <md-tab label="Submit Traffic Report"></md-tab>
    <md-tab label="View Traffic Reports"></md-tab>
</md-tabs>
