<html ng-app="core">
    <div flex layout="column" data-ng-controller="HomeController as ul" id="mainPage">
<!--Header-->
        <header flex class="navbar navbar-fixed-top">
            <div data-ng-controller="HeaderController">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
                        <md-icon md-svg-icon="menu"></md-icon>
                    </button>
                    <a href="/#!/" class="navbar-brand">TRANSPORT APP</a>
                </div>
                <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
                    <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
                        <li ui-route="/signin" ng-class="{active: $uiRoute}">
                            <a href="/#!/signin" style="color:white;">Sign In</a>
                        </li>
                        <li ui-route="/signup" ng-class="{active: $uiRoute}">
                            <a href="/#!/signup" style="color:white;padding-right:15px;">Sign Up&nbsp;</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span style="color:white;" data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/#!/settings/profile">Edit Profile</a>
                                </li>
                                <li>
                                    <a href="/#!/settings/accounts">Manage Social Accounts</a>
                                </li>
                                <li data-ng-show="authentication.user.provider === 'local'">
                                    <a href="/#!/settings/password">Change Password</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/auth/signout">Signout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <md-tabs class="md-primary" flex md-dynamic-height md-stretch-tabs="always" md-selected="selectedIndex">
                <md-tab label="Directions"></md-tab>
                <md-tab label="Submit Traffic Report"></md-tab>
                <md-tab label="View Traffic Reports"></md-tab>
            </md-tabs>
        </header>
<!--Body-->
<!-- Container #4 Right -->
        <md-content flex id="content">
            <md-tabs class="noTabPanel" flex md-dynamic-height md-selected="selectedIndex">
                <md-tab label="Directions">
                    <md-tab-body>
                        <div data-ng-controller="GMapController">
    <!--Edit button: to redisplay the directions input form after hiding-->
                        <md-button class="md-fab md-accent md-fab-top-right" ng-hide="toggleCollapsed.buttonCollapsed" ng-click="toggleCollapsed.buttonCollapsed=1">
                            <!--<md-icon md-svg-src="modules/core/img/svg/mode_edit.svg"></md-icon>-->
                            <span style="color:#f7f7f7;">Edit</span>
                        </md-button>
                        <br>
<!--User Input-->
                            <h2 class="md-display-1">Find your way around Singapore!</h2>
    <!-- Radio btns for preferred transportation-->
                            <section class="inputMenu" ng-show="toggleCollapsed.buttonCollapsed">
                                <b class="md-subhead">Preferred transport:</b>
                                <md-radio-group layout="row" ng-model="data.vehicles">
                                    <md-radio-button value="any" class="md-primary">Any</md-radio-button>
                                    <md-radio-button value="bus" class="md-primary"> Bus only. </md-radio-button>
                                    <md-radio-button value="train" class="md-primary">Train only.</md-radio-button>
                                </md-radio-group>
                            </section>
    <!--Location input form-->
                            <section class="inputMenu" ng-show="toggleCollapsed.buttonCollapsed">
                                <label style="padding-right:2px">From: </label><input type="text" placeholder="Starting location"  ng-model="location"/>
                                <tabbing class="hide-sm"></tabbing>
                                <label class="hide-sm">To: </label> <input class="hide-sm" label="To" type="text" placeholder="Destination" ng-model="endingpoint" />
                                <div class="hide-gt-sm"> <label style="padding-right:19px">To:</label><input label="To" type="text" placeholder="Destination" ng-model="endingpoint" /></div>
                                <md-button type="submit" ng-click = "routeToLocation(location,endingpoint)">
                                    <md-icon md-svg-src="modules/core/img/svg/search.svg"></md-icon>
                                    Search
                                </md-button>
                            </section>
<!--Map Display-->
                           <div flex id="homeMap"></div>
                            <map center="1.352083, 103.819836" zoom="10"></map>
                            <ng-click="openInfoWindow($event, marker)">
                            <section class="routes hide-sm" layout="row" layout-wrap>
                                <div layout="column" ng-repeat="rb in routeButtons" flex="25">
                                    <md-button class='md-raised md-hover routes' ng-hide={{rb.buttonCollapsedAttr}} ng-click="redisplayRoute({{rb.routeID}});goToSteps()">
                                        <b>Route {{rb.routeID+1}}: </b><i>{{rb.routeDistance}}</i>, <i>{{rb.routeDuration}}</i><br>
                                        <i>{{rb.transportType;}}</i><br>
                                        <i>Click to see route details</i>
                                    </md-button>
                                </div>
                            </section>
                            <section class="routes hide-gt-sm" layout="column" layout-wrap>
                                <div layout="column" ng-repeat="rb in routeButtons">
                                    <md-button class='md-raised md-hover routes' ng-hide={{rb.buttonCollapsedAttr}} ng-click="redisplayRoute({{rb.routeID}});goToSteps()">
                                        <b>Route {{rb.routeID+1}}: </b><i>{{rb.routeDistance}}</i>, <i>{{rb.routeDuration}}</i><br>
                                        <i>{{rb.transportType;}}</i><br>
                                        <i>Click to see route details</i>
                                    </md-button>
                                </div>
                            </section>
                            <div flex layout-align="center" class="panel" id="routeInstruction"></div>
                        </div>
                    </md-tab-body>
                </md-tab>
<!--Make reports-->
                <md-tab>
                    <md-tab-body>
<!--Request log-in before submitting report-->
                        <section data-ng-hide="authentication.user" class="column" data-ng-controller="AuthenticationController">
                            <h2 class="md-display-1 text-center">You have to sign in first!</h2>
                            <h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
                            <div class="col-md-12 text-center" layout="row" layout-align="center">
                                <a href="/auth/facebook" class="undecorated-link">
                                    <img src="/modules/users/img/buttons/facebook.png">
                                </a>
                                <a href="/auth/twitter" class="undecorated-link">
                                    <img src="/modules/users/img/buttons/twitter.png">
                                </a>
                                <a href="/auth/google" class="undecorated-link">
                                    <img src="/modules/users/img/buttons/google.png">
                                </a>
                                <a href="/auth/linkedin" class="undecorated-link">
                                    <img src="/modules/users/img/buttons/linkedin.png">
                                </a>
                                <a href="/auth/github" class="undecorated-link">
                                    <img src="/modules/users/img/buttons/github.png">
                                </a>
                            </div>
                            <h3 class="col-md-12 text-center">Or with your account</h3>
                            <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
                                <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                                        </div>
                                        <div class="text-center form-group">
                                            <button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
                                            <a href="/#!/signup">Sign up</a>
                                        </div>
                                        <div class="forgot-password">
                                            <a href="/#!/password/forgot">Forgot your password?</a>
                                        </div>
                                        <div data-ng-show="error" class="text-center text-danger">
                                            <strong data-ng-bind="error"></strong>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </section>
<!--Show traffic report form if logged in-->
                        <section data-ng-show="authentication.user" data-ng-controller="ReportsController">
                            <div class="page-header">
                                <h2 class="md-display-1">Know about an congested area? Share it by submitting a report!</h2>
                            </div>
                            <div class="col-md-12">
                                <form class="form-horizontal" data-ng-submit="create()" novalidate>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label" for="roadname">Location:</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="roadname" id="roadname" style="width: 500px" class="form-control" placeholder="Road Name" required>
                                            </div>
                                            <br>
                                            <label class="control-label" for="category">Category:</label>

                                            <md-radio-group data-ng-model="data.category">
                                                <md-radio-button value="MRT Disruption" class="md-primary">MRT Disruption</md-radio-button>
                                                <md-radio-button value="Heavy Traffic" class="md-primary">Heavy Traffic</md-radio-button>
                                                <md-radio-button value="Accident" class="md-primary">Accident</md-radio-button>
                                                <md-radio-button value="Roadworks" class="md-primary">Road Works</md-radio-button>
                                                <md-radio-button value="Weather" class="md-primary">Weather</md-radio-button>
                                                <md-radio-button value="Others" class="md-primary">Others</md-radio-button>
                                            </md-radio-group>
                                            <br>
                                            <label class="control-label" for="congestion">Level Of Congestion:</label>
                                            <md-radio-group data-ng-model="data.congestion">
                                                <md-radio-button value="High" class="md-primary">High</md-radio-button>
                                                <md-radio-button value="Medium" class="md-primary">Medium</md-radio-button>
                                                <md-radio-button value="Low" class="md-primary">Low</md-radio-button>
                                            </md-radio-group>
                                            <br>
                                            <label class="control-label" for="time">Approximate Time To Clear Congestion:</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="time" id="time" style="width: 500px" class="form-control" placeholder="Time To Clear Congestion" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="button-group">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                        <br>
                                        <div data-ng-show="error" class="text-danger">
                                            <strong data-ng-bind="error"></strong>
                                        </div>
                                        <div data-ng-show="message" class="text-success">
                                            <strong data-ng-bind="message"></strong>
                                        </div>
                                        <br>
                                    </fieldset>
                                </form>
                            </div>
                        </section>
                    </md-tab-body>
                </md-tab>
<!--Display reports-->
                <md-tab>
                    <md-tab-body>
                        <section data-ng-controller="ReportsController" data-ng-init="find()">
                            <md-button class="md-fab md-primary md-fab-top-right" ng-hide="toggleCollapsed.buttonCollapsed" ng-click="refreshModule()">
                                <md-icon md-svg-src="modules/core/img/svg/refresh.svg"></md-icon>
                            </md-button>
                            <div class="page-header">
                                <h2 class="md-display-1">View all current congestion reports!</h2>
                            </div>
                            <div class="list-group">
                                <a data-ng-repeat="report in reports" class="list-group-item">
                                    <b class="md-title" style="color:red;" data-ng-bind="report.roadname"></b>
                                    <br>
                                    <b>Category:</b> <span class="list-group-item-heading" data-ng-bind="report.category"></span>
                                    <br>
                                    <b>Congestion level: </b><span class="list-group-item-heading" data-ng-bind="report.congestion"></span>
                                    <br>
                                    <b>Time:</b> <span class="list-group-item-heading" data-ng-bind="report.time"></span>
                                    <br>
                                    <small class="list-group-item-text">Posted By: <span data-ng-bind="report.user.displayName"></span> on <span data-ng-bind="report.created | date:'medium'"></span></small>
                                    <br>
                                    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(report);"></span>
                                    {{report.upvotes}}
                                    <span class="glyphicon glyphicon-thumbs-down" data-ng-bind="report.downvotes" ng-click="incrementDownvotes(report)"></span>

                                </a>
                            </div>
                            <div class="alert alert-warning text-center" data-ng-hide="!reports.$resolved || reports.length">
                                No Reports yet, why don't you <a href="/#!/reports/create">create one</a>?
                            </div>
                        </section>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</html>
